# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.sln
*.suo
*.opensdf
*.sdf
*.ipch

# Rider / VSCode
.idea/
# Ignore personal VSCode files, but share tasks.json and extensions.json with the team
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
.vscode/*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Build products
*.exe
*.dll
*.pdb
*.obj
*.lib

# Optional: if you generate a lot of logs/dumps
*.log
*.dmp